<template>
  <div class="h-screen flex flex-col items-center justify-center">
    <img alt="Warren logo" src="../assets/warren.png" class="mb-4" />
    <h1 class="text-primary font-semibold text-2xl mb-2">
      Olá! Eu sou o Warren bot :)
    </h1>
    <p class="mb-8">
      Você gostaria de descobrir o seu perfil de investidor?
    </p>
    <Button variant="primary" @click="goToSuitabilityPage">
      Sim, vamos lá!
    </Button>
  </div>
</template>

<script>
import Button from "@/components/Button.vue";

export default {
  name: "Home",
  components: {
    Button
  },
  methods: {
    goToSuitabilityPage() {
      this.$router.push("/suitability");
    }
  }
};
</script>
