<template>
  <article>
    <notifications width="50%" />
    <Header>Perfil de Investidor</Header>
    <div>
      <Chat
        class="py-12 px-40 pb-48"
        :loading="state.loading"
        :messages="state.chatMessages"
        @loadedAll="showAnswersForm"
      />

      <div v-if="state.showForm" class="bg-gray-200 p-6 footer">
        <div v-if="data.buttons.length" class="space-x-3">
          <Button
            v-for="button in data.buttons"
            :key="button.label.title"
            @click="selectOption(button)"
          >
            {{ button.label.title }}
          </Button>
        </div>
        <form
          class="flex items-center space-x-8"
          v-if="data.inputs.length"
          @submit.prevent="submitAnswer"
        >
          <Input
            v-for="(input, key) in data.inputs"
            :key="key"
            :name="data.id"
            :mask="input.mask"
            :autofocus="true"
            @input="handleInputChange(input.mask, $event)"
          />
          <Button type="submit">Enviar</Button>
        </form>
      </div>
      <div
        v-if="state.loadingProfile || state.profile"
        class="profile-result footer"
      >
        <img
          v-if="state.loadingProfile"
          src="../assets/cog.svg"
          width="48"
          height="48"
          class="animate-spin"
          alt="Carregando perfil..."
        />
        <template v-else>
          {{ state.profile }}
        </template>
      </div>
    </div>
  </article>
</template>

<script>
import Header from "@/components/Header";
import Chat from "@/components/Chat";
import Button from "@/components/Button";
import Input from "@/components/Input";
import * as suitabilityApi from "@/api/suitability";
import { mask } from "@/utils/masks";

export default {
  components: {
    Header,
    Chat,
    Button,
    Input
  },
  data: function() {
    return {
      state: {
        loading: false,
        loadingProfile: false,
        chatMessages: [],
        answer: {
          label: "",
          value: ""
        },
        answers: {},
        showForm: false,
        profile: null
      },
      data: {
        id: null,
        inputs: [],
        buttons: [],
        reponses: []
      }
    };
  },
  created: function() {
    this.beginConversation();
  },
  // Is equivalent to React.useEffect(() => {}, [data.id])? Sorry, I have a React background :D
  watch: {
    "data.id": function(value) {
      if (value !== "final") return;
      this.finishSuitability();
    }
  },
  methods: {
    beginConversation: function() {
      this.sendMessage({ id: null });
    },
    sendMessage: async function(msg = {}) {
      const { state, data } = this.$data;

      this.$data.state.loading = true;
      try {
        const response = await suitabilityApi.sendMessage(msg);

        this.$data.data = { ...data, ...response };
        this.$data.state = {
          ...state,
          chatMessages: [...state.chatMessages, ...response.messages]
        };
      } catch (err) {
        this.displayErrorNotification();
      } finally {
        this.$data.state.loading = false;
      }
    },
    finishSuitability: async function() {
      const { state, data } = this.$data;
      this.$data.state.loadingProfile = true;

      const payload = { id: data.id, answers: state.answers };
      try {
        const {
          user: { investmentProfile }
        } = await suitabilityApi.finish(payload);
        this.$data.state.profile = investmentProfile.riskToleranceProfile;
      } catch (err) {
        this.displayErrorNotification();
      } finally {
        this.$data.state.loadingProfile = false;
      }
    },
    showAnswersForm: function() {
      const { chatMessages, loadingProfile } = this.$data.state;
      if (!chatMessages.length || loadingProfile) return;

      const lastMessage = chatMessages[chatMessages.length - 1];

      if (!lastMessage.reply) {
        this.$data.state.showForm = true;
      }
    },
    hideAnswersForm: function() {
      this.$data.state.showForm = false;
    },
    clearAnswer: function() {
      this.$data.state.answer = {};
    },
    selectOption: function(option) {
      this.$data.state.answer = {
        label: option.label.title,
        value: option.value
      };
      this.submitAnswer();
    },
    handleInputChange: function(maskType, value) {
      this.$data.state.answer = {
        label: mask(maskType, value),
        value
      };
    },
    addChatMessage: function(message) {
      this.$data.state.chatMessages = [
        ...this.$data.state.chatMessages,
        {
          value: message,
          reply: true
        }
      ];
    },
    submitAnswer: async function() {
      const { state, data } = this.$data;
      const { answers: previousAnswers, answer } = state;

      if (!answer.value) return;

      const answers = {
        ...previousAnswers,
        [data.id]: answer.value
      };

      this.$data.state.answers = answers;

      const message = {
        id: data.id,
        answers
      };

      this.addChatMessage(answer.label);
      this.hideAnswersForm();

      await this.sendMessage(message);

      this.clearAnswer();
    },
    displayErrorNotification: function() {
      this.$notify({
        title: "Erro: Falha na requisição",
        text: "Tente novamente.",
        type: "error",
        duration: 5000
      });
    }
  }
};
</script>
<style scoped>
.profile-result {
  @apply bg-secondary w-full h-24
    font-sans font-semibold text-white uppercase text-lg
    flex items-center justify-center;
}

.footer {
  @apply fixed bottom-0 w-full;
}
</style>
