<template>
  <component :is="as" :class="classes" @click="onClick">
    <slot />
  </component>
</template>

<script>
export default {
  props: {
    as: {
      type: String,
      default: "button"
    },
    variant: {
      type: String,
      default: "primary",
      validator: propValue => ["primary", "secondary"].indexOf(propValue) !== -1
    },
    fullWidth: Boolean
  },
  computed: {
    classes() {
      return {
        btn: true,
        "btn--primary": this.variant === "primary",
        "btn--secondary": this.variant === "secondary",
        "w-full": this.fullWidth
      };
    }
  },
  methods: {
    onClick() {
      this.$emit("click");
    }
  }
};
</script>

<style scoped>
.btn {
  @apply font-bold uppercase h-auto text-white
    py-4 px-6 inline-block
    border-none rounded-full outline-none
    transition-transform ease-in-out duration-200;
}

.btn:hover,
.btn:focus {
  @apply transform scale-105;
}

.btn--primary {
  @apply bg-primary;
}

.btn--secondary {
  @apply bg-secondary;
}
</style>
