<template>
  <div class="space-y-4">
    <Message
      v-for="(message, index) in availableMessages"
      :key="index"
      :text="message ? message.value : ''"
      :reply="message.reply || false"
      @loaded="loadNextMessage"
    />

    <!-- Display a message placeholder when loading messages -->
    <Message v-if="loading" :loading="true" />
  </div>
</template>

<script>
import Message from "./Message";
import scrollToBottom from "../utils/scrollToBottom";

export default {
  components: {
    Message
  },
  props: {
    messages: {
      type: Array,
      required: true
    },
    loading: Boolean
  },
  data: function() {
    return {
      currentIndex: 0
    };
  },
  computed: {
    availableMessages: function() {
      return this.messages.filter(
        (message, index) => index <= this.$data.currentIndex
      );
    }
  },
  methods: {
    canShow: function(index) {
      return index < this.$data.currentIndex;
    },
    loadNextMessage: function() {
      const nextIndex = this.$data.currentIndex + 1;
      this.$data.currentIndex = nextIndex;

      if (nextIndex === this.messages.length) {
        scrollToBottom();
        this.$emit("loadedAll");
      }
    }
  }
};
</script>

<style></style>
