<template>
  <header
    class="
      uppercase bg-gray-200 font-sans text-xs font-bold h-16
      flex items-center justify-center
      w-full border-b-2 border-solid border-gray-300
    "
  >
    <slot />
    <Button as="a" href="https://warren.com.br/" class="mr-4 absolute right-0">
      Abrir conta
    </Button>
  </header>
</template>
<script>
import Button from "@/components/Button";
export default {
  components: {
    Button
  }
};
</script>
