<template>
  <input class="input" ref="inputRef" type="text" v-on="inputListeners" />
</template>

<script>
import { mask, unmask } from "../utils/masks";

export default {
  props: {
    value: [String, Number],
    name: {
      type: String,
      required: true
    },
    mask: {
      type: String,
      required: false,
      validator: maskValue => {
        if (!maskValue) {
          return true;
        }
        return (
          ["name", "integer", "currency", "email"].indexOf(maskValue) !== -1
        );
      }
    },
    autofocus: Boolean
  },
  mounted() {
    // Apply mask in initial value, if available
    if (this.mask && !!this.value) {
      this.$refs.inputRef.value = mask(this.mask, this.value);
    }

    if (this.autofocus) {
      this.$refs.inputRef.focus();
    }
  },
  computed: {
    inputListeners: function() {
      let vm = this;
      return Object.assign({}, this.$listeners, {
        input: function(event) {
          let { value } = event.target;

          if (vm.mask === "currency") {
            value = unmask(value);
          }

          // Apply mask
          if (vm.mask) {
            event.target.value = mask(vm.mask, value);
          }

          vm.$emit("input", value);
        },
        focus: function(event) {
          // Move caret to end on focus input element
          event.target.selectionStart = event.target.value.length;
          vm.$emit("focus", event);
        }
      });
    }
  }
};
</script>

<style scoped>
.input {
  @apply py-5 px-4 text-2xl border-none outline-none w-full rounded;
}
</style>
