<template>
  <div :class="{ message: true, '--reply': reply, '--loading': loading }">
    <img v-if="!reply" class="image" src="../assets/warren.png" />
    <span class="text">{{ message }}</span>
  </div>
</template>

<script>
const TYPING_SPEED = 10;

export default {
  props: {
    text: {
      type: String,
      default: ""
    },
    reply: Boolean,
    loading: Boolean
  },
  data: function() {
    return {
      message: this.reply ? this.text : ""
    };
  },
  mounted: async function() {
    if (!this.reply) {
      this.typewrite();
    } else {
      this.$emit("loaded");
    }
  },
  methods: {
    typewrite: async function() {
      const text = this.text.replace(">", "> "); // Workaround: Normalize text with tags
      const words = text.split(" ");

      const typeWord = (word = "") => {
        return new Promise(resolve => {
          let i = 0;
          const shouldAddSpace = words.indexOf(words) !== words.length - 1;
          const shouldWait = /\^\d+/.test(word);
          const shouldErase = /<erase>/.test(word);

          if (shouldWait) {
            let waitFor = parseInt(word.replace("^", ""));
            return setTimeout(() => resolve(), waitFor);
          }

          const type = () =>
            setTimeout(() => {
              if (!shouldErase) {
                if (i === word.length) {
                  // Finished writting word
                  if (shouldAddSpace) {
                    this.$data.message = this.$data.message + " ";
                  }

                  return resolve();
                }

                this.$data.message = this.$data.message + word.charAt(i);
                i++;
              } else {
                // Deleleted privious message
                i = this.$data.message.length - 1;

                if (i < 0) {
                  return resolve();
                }
                this.$data.message = this.$data.message.slice(0, i);
              }

              type();
            }, TYPING_SPEED);

          // Start typing
          type();
        });
      };

      for (let word of words) {
        await typeWord(word);
      }

      // Finished typing message
      this.$emit("loaded");
    }
  }
};
</script>

<style scoped>
.message {
  @apply w-full flex items-start relative;
}

.text {
  @apply font-sans text-lg leading-relaxed overflow-hidden mx-0 my-auto inline-flex text-left;
}

.image {
  @apply h-8 w-8 mr-4;
}

/* Modifiers */
.--reply {
  @apply justify-end;
}

.--loading {
  @apply animate-pulse;
}
</style>
